{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}



{% block body %}

    <header>
        {% include('inc/nav1.html.twig') %}
    </header>
    <div class="login">
        <div>
<form   method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 id="title" class="h3 mb-3 font-weight-normal"style="font-family:Forte " >Se connecter </h1>
    <label  for="inputEmail"style="font-family:Forte " >Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" style="font-family:Forte ">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >


    <label style="font-family:Forte " >
        <input type="checkbox" name="_remember_me" > Se souvenir de moi
        <a href="{{ asset('img/IMG.jpg') }}" style="font-family:Forte " > mot de passe oublié </a>
    </label>



    <button id="ide" class="btn btn-lg btn-primary" type="submit"style="font-family:Forte " >
        connection
    </button>
</form>

        </div>
    </div>
{% endblock %}
