{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}



{% block body %}
    <header>
        {% include('inc/nav.html.twig') %}
    </header>
    <h1>Register</h1>
<div class="form">
    <div>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.telephone) }}
    </div>
    <di>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
    {{ form_row(registrationForm.campus) }}
    {{ form_row(registrationForm.maPhoto) }}
    {{ form_row(registrationForm.agreeTerms) }}
    {{ form_end(registrationForm) }}
    </di>
</div>
    <div>
    <button type="submit" class="btn">Register</button>
    </div>
{% endblock %}
