{% extends 'base.html.twig' %}

{% block title %}Hello AfficherController!{% endblock %}

{% block body %}
    <header>
        {% include('inc/nav.html.twig') %}
    </header>
    <img class="imgProfil" src="{{ asset('/photos/' ~ participant.maPhoto ) }}" alt="" width="150"><br>
<div class="form">
    <div>
    {{ participant.pseudo }}<br>
    {{ participant.prenom }}<br>
    {{ participant.nom }}<br>
    {{ participant.telephone }}<br>
    {{ participant.email }}<br>
    {{ campus.nom }}<br><br>
    <button type="button">Retour</button>
    </div>
</div>
{% endblock %}
